body {
    background-color:rgba(42, 30, 28, 0.817);
}

.header_bar {
    /* Aligns items vertically  */
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid black;
    padding: 1rem 0 2rem 0;
    margin-bottom: 1rem;
}

.links {
    /* Removes default underlining of links */
    font-size:2rem;
    margin-left: 3rem;
    color:rgb(25, 17, 65);
    text-decoration: none;

}

.links:hover{
    /* Links change colour when hovering over them */
    color:rgb(20, 0, 132) ;
}

.search_box {
    margin-right:3rem;
    display:flex;
    flex-direction: column;
}

.title {
    font-size:2rem;
    margin:0;
}

.new_note {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:2rem;

}

#expandingTextarea {
    resize: none; 
    overflow: hidden;
    width: 100%;
    min-height: 3rem;
    max-height: 9rem;
}


.cancel_search{
    margin-left: auto;
    cursor: pointer; 

}

.deleteall{
    display: grid;
    place-items: center;
    margin-bottom:1rem;
    
}
.empty_trash{
    /* Set width and height to make the button bigger */
    height:3rem;
    width: 10rem;
    font-size: 150%;
    cursor: pointer; 
    background-color: rgba(165, 42, 42, 0.276);
}

