.notes_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.note_container {
    border: 0.2rem solid white;
    padding: 0.5rem;
    display: inline-block;
    min-width: 13rem;
    max-width: 20rem;
    position: relative;
    height:auto;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
  
.note_content {
    margin-right: 2.5rem;
    word-wrap: break-word;

}




.note_extras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
}
  
.note_date {
    font-size: 0.7rem;
    color: rgb(0, 0, 0, 0.7);
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
  
.note_buttons {
    display: flex;
}
  
.note_buttons button {
    margin-right: 0.5rem;
}
  


.note_container.expanded {
    min-width: 25rem;
    max-width: 25rem;
}


.no_results {
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For modern browsers */
}

.pin_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.toggle_pin_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.toggle_pin_button img {
    width: 20px;
    height: 20px;
}
