<!-- templates/archive.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes - Archive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    {% from "_macros.html" import toggle_pin_button, display_datetime,toggle_bin_button,toggle_archived_button,edit_button,display_date %}

    <header class = "header">
        <a href="{{ url_for('index') }}" id="notes-link" class = "links">Notes</a>
        <a href="#" id="bin-link" data-bin-url="{{ url_for('bin') }}">Bin</a>
    </header>
    <div id = "archiveapp">
        <h1>Archive</h1>
        <div id = "notes_list">
            {% for note in notes %}
            
            <div class="note-container" id="note-{{ note.id }}">
                <div class = "note-content">{{ note.content }}</div>
                {{ edit_button(note) }}
                {{ display_date(note) }}
                {{ toggle_archived_button(note) }}
                {{ toggle_bin_button(note) }}
                {{ toggle_pin_button(note) }}
            </div>
            {% endfor %}
        </div>
        
    </div>
    
</body>
</html>
