<!-- templates/archive.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% from "other_macros.html" import head_elements %}
    {{ head_elements() }}
    <title>Notes: Archive</title>
</head>
<body>
    {% from "button_macros.html" import cancel_search %}
    {% from "other_macros.html" import search_box %}
    {% from "meta_macros.html" import render_buttons, links_bar %}

    {{ links_bar('archive') }}
        
    <div class = "main_app">
        
        <h1>Archive</h1>

        {{ search_box('archive', query)}}

        <div class = "notes_list_bit">
            {% if query %}
                {{ cancel_search('archive') }}

                {% if search_results %}
                    <h2>Search Results for: "{{ query }}" in archive</h2>
                    {{ render_buttons(search_results, 'archive') }}
                {% else %}
                    <p>No results found for "{{ query }}" :&#40;</p>
                {% endif %}
            {% else %} 
                {{ render_buttons(notes, 'archive') }}
            {% endif %}
        </div>
    </div>
</body>
</html>
