<!-- templates/archive.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% from "other_macros.html" import head_elements %}
    {{ head_elements() }}
    <title>Notes: <i>Archive</i></title>
</head>

<body>
    {% from "button_macros.html" import cancel_search %}
    {% from "meta_macros.html" import render_notes, links_bar,search %}

    <div class="header_bar">
        {{ links_bar('archive') }}
        <h1 class = "title">Archive</h1>
        {{ search('archive', query)}}
    </div>

    <main class = "main_app">
        <div class = "notes_list">
            {% if query %}
                {% if search_results %}
                    <h2 class = "search_results">Search Results for: "{{ query }}" in archive</h2>
                    {{ render_notes(search_results, 'archive') }}
                {% else %}
                    <p class = "no_results">No results found for "{{ query }}" :&#40;</p>
                {% endif %}
            {% else %} 
                {{ render_notes(notes, 'archive') }}
            {% endif %}
        </div>
    </main>
    
</body>
</html>
