<!-- templates/archive.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes - Archive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    {% from "_macros.html" import toggle_pin_button, display_datetime,toggle_bin_button,toggle_archived_button,edit_button,display_date,search_box %}

    <header class = "header">
        <a href="{{ url_for('index') }}" id="notes-link" class = "links">Notes</a>
        <a href="#" id="bin-link" data-bin-url="{{ url_for('bin') }}">Bin</a>
    </header>

    <div id = "archiveapp">
        <h1>Archive</h1>

        {{ search_box('archive', query)}}

        <div id = "notes_list">
            {% if query %}
                <h2>Search Results for: "{{ query }}" in archive</h2>
                {% if search_results %}
                    {% for note in search_results %}
                        <p>{{ note.content }}</p>
                        {{ toggle_archived_button(note) }}
                        {{ toggle_bin_button(note) }}
                        {{ display_date(note) }}
                    {% endfor %}
                {% else %}
                    <p>No results found :&#40;</p>
                {% endif %}

            {% else %}
                {% for note in notes %}
                
                <div class="note-container" id="note-{{ note.id }}">
                    <div class = "note-content">{{ note.content }}</div>
                    {{ edit_button(note) }}
                    {{ toggle_archived_button(note) }}
                    {{ toggle_bin_button(note) }}
                    {{ toggle_pin_button(note) }}
                    {{ display_date(note) }}

                </div>
                {% endfor %}
            {% endif %}


            
        </div>
        
    </div>
    
</body>
</html>
