<!-- templates/bin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% from "other_macros.html" import head_elements %}
    {{ head_elements() }}
    <title>Notes: Recently Deleted</title>
</head>
<body>
    {% from "button_macros.html" import empty_trash,cancel_search %}
    {% from "other_macros.html" import search_box %}
    {% from "meta_macros.html" import render_buttons, links_bar %}

    {{ links_bar('bin')}}

    <div class = "main_app">

        <h1>Recently Deleted</h1>

        {{ search_box('bin', query)}}

        <div class = "notes_list_bit">
            {% if query %}

                {{ cancel_search('bin') }}

                {% if search_results %}
                    <h2>Search Results for: "{{ query }}" in bin</h2>
                    {{ render_buttons(search_results ,'bin') }}
                {% else %}
                    <p>No results found for "{{ query }}" :&#40;</p>
                {% endif %}

            {% else %}
                {{ empty_trash() }}
                {{ render_buttons(notes ,'bin') }}
            {% endif %}
            
            </div>
        </div>
    </div>
</body>
</html>