<!-- templates/bin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes - Recently Deleted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>

    <header>
        <a href = "{{ url_for('index')}}" id = "notes-link" class = "links">Notes</a>
        <a href="#" id="archive-link" data-archive-url="{{ url_for('archive') }}">Archive</a>
    <div id = "binapp">
        <h1>Recently Deleted</h1>
        <div id = "deleteall">
            <form action = "{{url_for('empty_trash')}}" method = "POST" onsubmit = "return confirmEmptyTrash()";>
                <button type = "submit" id = "emptytrash">Empty Trash</button>
            </form>
        </div>
        <div id = "notes_list">
            {% for note in notes %}
            <div class = "note-container" id = "note-{{note.id}}">
                <div class = "note-content">{{note.content}}</div>
                <div class = "note-date">{{note.date.strftime('%d-%m-%Y')}}</div>

                <form action = "{{ url_for('unbin_note', note_id = note.id)}}" method = "POST" class = "note-form">
                    <button type = "submit" class = "notebutton">Return from bin</button>
                </form>

                <form action = "{{url_for('delete_note', note_id = note.id)}}" method = "POST" class = "note-form" onsubmit="return confirmDelete()";>
                    <button type = "submit" class = "notebutton delete-forever">Delete forever</button>
                </form>
                
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>