<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% from "other_macros.html" import head_elements %}
    {{ head_elements() }}
    <title>Notes</title>
</head>
<body>
    {% from "button_macros.html" import cancel_search %}
    {% from "other_macros.html" import new_note, search_box %}
    {% from "meta_macros.html" import render_buttons, links_bar %}
    
    {{ links_bar('main')}}

    <div class="main_app">
        <h1>Notes</h1>
        {{ search_box('index', query) }}        
        <div class = "notes_list_bit">
            {% if query %}
                {{ cancel_search('index') }}
                {% if search_results.main or search_results.archive or search_results.bin %}
                    
                    <h2>Search Results for: "{{ query }}"</h2>
                    {% if search_results.main %}
                        <h3>Main</h3>
                        {{ render_buttons(search_results.main, 'main') }}
                    {% endif %}
                    {% if search_results.archive %}
                        <h3>Archive</h3>
                        {{ render_buttons(search_results.archive,'archive') }}                  
                    {% endif %}
                    {% if search_results.bin %}
                        <h3>Bin</h3>
                        {{ render_buttons(search_results.bin,'bin') }}
                    {% endif %}
                     
                {% else %}
                    <p>No results found for "{{ query }}" :&#40;</p>
                {% endif %}

            {% else %}
                {{ new_note() }}
                {{ render_buttons(notes,'main') }}
            {% endif %}

        </div>        
    </div>
</body>
</html>
