<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% from "other_macros.html" import head_elements %}
    {{ head_elements() }}
    <title>Notes</title>
</head>
<body>
    {% from "button_macros.html" import cancel_search %}
    {% from "other_macros.html" import archive_link, bin_link, new_note, search_box %}
    {% from "meta_macros.html" import comb_main_buttons,comb_archive_buttons,comb_bin_buttons %}
    
    <header class = "header header_index">
        {{ archive_link() }}
        {{ bin_link() }}
    </header>

    <div class="main_app">
        <h1>Notes</h1>
        {{ search_box('index', query) }}        
        <div class = "notes_list_bit">
            {% if query %}
                {{ cancel_search('index') }}
                {% if search_results.main or search_results.archive or search_results.bin %}
                    
                    <h2>Search Results for: "{{ query }}"</h2>
                    {% if search_results.main %}
                        <h3>Main</h3>
                        {% for note in search_results.main %}
                            {{ comb_main_buttons(note) }}
                        {% endfor %}
                    {% endif %}
                    {% if search_results.archive %}
                        <h3>Archive</h3>
                        {% for note in search_results.archive %}
                            {{ comb_archive_buttons(note) }}                  
                        {% endfor %}
                    {% endif %}
                    {% if search_results.bin %}
                        <h3>Bin</h3>
                        {% for note in search_results.bin %}
                            {{ comb_bin_buttons(note) }}
                        {% endfor %}
                    {% endif %}
                     
                {% else %}
                    <p>No results found for "{{ query }}" :&#40;</p>
                {% endif %}

            {% else %}
                {{ new_note() }}
                {% for note in notes %}
                    {{ comb_main_buttons(note) }}
                {% endfor %}
            {% endif %}

        </div>        
    </div>
</body>
</html>
