{% from "button_macros.html" import toggle_archived_button,toggle_bin_button,toggle_pin_button %}
{% from "button_macros.html" import display_datetime,display_date,edit_button,delete_button %}
{% from "other_macros.html" import archive_link, bin_link, index_link %}


{% macro render_buttons(notes, type) %}
    {% for note in notes %}
        <p>{{ note.content }}</p>

        {% if type == 'main' %}
            {{ edit_button(note) }}
        {% endif %}

        {% if type != 'bin' %}
            {{ toggle_archived_button(note) }}
        {% endif %}

        {{ toggle_bin_button(note) }}

        {% if type == 'bin' %}
            {{ delete_button(note) }}
        {% endif %}

        {% if type == 'main' %}
            {{ toggle_pin_button(note) }}
            {{ display_datetime(note) }}

        {% else %}
            {{ display_date(note) }}
        {% endif %}

    {% endfor %}  
{% endmacro %}


{% macro links_bar(page) %}
    <header class = "header">
        {% if page != 'main' %}
            {{ index_link() }}
        {% endif %}
        {% if page != 'archive' %}
            {{ archive_link() }}
        {% endif %}
        {% if page != 'bin' %}
            {{ bin_link() }}
        {% endif %}
    </header>

{% endmacro %}